<div id="map">
  <%= javascript_include_tag "map" %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js"/>
</div>
