<div class="row cmon">
<div class="small-7 columns">
<div class="cookie-monster">
  <img src="http://i.dailymail.co.uk/i/pix/2013/09/22/article-0-18297CEF00000578-775_634x426.jpg" class="cookiemonster"alt="Cookie Monster">
</div>
</div>
<div class="small-5 columns">
<div class="cookie-monster2">
  I want to be able to save a list of cookie shops I want to visit later,
  share these places with my friends, and
  receive a notification if I'm within walking distance of these cookie shops.
  <br>
  <br>
  <i class="fi-quote"></i>- Cookie Monster (as seen on TV!)
</div>
</div>
</div>
