/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @import 'foundation-icons';

 body {
  background-color: #FFFAFA;
 }
.facebook {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cookie-monster {
  top: 0; right: 0; bottom: 0; left: 0;
  border-width: 8px;
  border-color: #FFCCCC;
  border-style: solid;
  height: 90%;
  font-size: 40px;
  background-color: #FFCCCC;
}
.cmon {
  padding-top: 50px;
}
.cookie-monster2 {
  padding: 50px;
  border-width: 8px;
  border-color: #FFCCCC;
  border-style: solid;
  height: 443px;
  font-size: 20px;
  line-height: 30px;
  background-color: #FFCCCC;

}

.cookiemonster {
  height: 90%;
}

.table-head {
  font-weight: bolder;
}
